body {
    margin: 0;
    padding: 40px;
    font-family: Arial;
}

.container {
    text-align: center;
    width:100px;
}

.minutes {
    font-size: 5em;
    font-weight: bold;
    color:#ff0000;
}

.refresh button {
    padding:10px;
    text-align: center;
    cursor: pointer;
}
